<table style="width: 90%">
	<colgroup>
		<col width="34%">
		<col width="33%">
		<col width="33%">
	<colgroup>
			
	<tr>
		<td><h1><%= link_to "Patientenübersicht", karteikarten_path() %></h1></td>
		<td style="text-align: center"><h1 style="text-decoration: underline"><%= link_to "zu den Abfragen", abfragen_karteikarten_path() %></h1></td>
		<td style="text-align: right"><h1 style="text-decoration: underline">abmelden</h1></td>
	</tr>
</table>