

$('#behandlung_form').html( '<%= escape_javascript( render :partial => "behandlung_form", :locals => { :behandlung => @behandlung } ) %>' );

// alert( '<%= escape_javascript( render :partial => "behandlung_form", :locals => { :behandlung => @behandlung } ) %>' );

$(".impf_select").attr("data-placeholder", "bitte auswählen");
$(".impf_select").chosen();

$( ".datum" ).datepicker({ changeYear: true, dateFormat: 'dd.mm.yy' });
$(".datum").datepicker($.datepicker.regional['de']);


var $dialog_labor = $('<div></div>');

$dialog_labor.html( $("#lab") );

$dialog_labor.dialog({
    autoOpen: false,
    title: 'Laborwerte',
    modal: true,
    buttons: [ { text: "OK", click: function() { 
           labor_text_feld.value = labor_text_feld.value + get_lab_list_text() + '**';
                   $('#lab option').attr('selected', false );
           labor_text_feld.focus(); 
           $(this).dialog("close"); } },
           { text: "Abbruch", click: function() { 
            labor_text_feld.focus();
            $(this).dialog("close"); } } ] 
  });


  
$('.labor').click(  function() {
  labor_text_feld = this;
  $dialog_labor.dialog('open');
  // prevent the default action, e.g., following a link
  return false;
});