/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
 
body {
	font-family: "Arial";
	color:black;
}

.width100 {
	width: 100%;
}

.height100 {
	height:100%;
}


table.liste { 
	table-layout:fixed; 
	border-collapse:collapse;
	border-spacing:0pt;
	border-style:solid; 
	border-width:thin; 
	border-color:grey;	
	text-align:left;
	empty-cells:show;
	white-space:nowrap;
}

table.liste tr:nth-child(even) { 
	background-color: #EEEEEE;
}
			
table.liste tr:nth-child(odd) { 
	background-color: #FFFFFF; 
}

table.liste th { 
	padding:2px;
	border-style:solid; 
	border-width:1px 1px 1px 1px; 
	border-color:grey;
	overflow:hidden;
}

table.liste td { 
	padding:2px; 
	border-style:solid; 
	border-width:1px 1px 1px 1px; 
	border-color:grey;
  	overflow:hidden;
	empty-cells:show;
	white-space:nowrap;
}

a, a:hover, a:active, a:visited {
  color:black;
  font-style:normal;
  font-weight:normal;
  text-decoration:none;
}