/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
 
body {
  font-family: "Arial";
  font-size:  10pt;
  color:black;
  background-color: #FBFBB1;
}


h1 {
  font-size:  14pt;
}

.width100 {
  width: 100%;
}

.height100 {
  height:100%;
}

div.karteikarte {
  /* max-height:100px; */
  height:110px; 
  /* overflow-y: scroll; */
}

.karteikarte textarea,
.behandlung1 textarea {  
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;  
  width: 100%;
  height: 100%;
  resize: none;
  border: 0;
}

table.karteikarte { 
  border-collapse:collapse;
  border-style:solid; 
  border-width:thin; 
  empty-cells:show;
  white-space:nowrap;
}

table.karteikarte th { 
  border-style:solid; 
  border-width:1px 1px 1px 1px; 
  border-color:grey;
  background-color: #FFFFFF; 
  /* overflow:hidden; */
}

table.karteikarte td { 
  border-style:solid; 
  border-width:1px 1px 1px 1px; 
  border-color:grey;
  background-color: white;
  vertical-align: top;
  empty-cells:show;
  white-space:nowrap;
  /* overflow:hidden; */
}


table.liste { 
  /*table-layout:fixed;  */
  border-collapse:collapse;
  border-spacing:0pt;
  border-style:solid; 
  border-width:thin; 
  border-color:grey;
  text-align:left;
  empty-cells:show;
  white-space:nowrap;
}

table.liste tr:nth-child(even) { 
  background-color: #EEEEEE;
}
			
table.liste tr:nth-child(odd) { 
  background-color: #FFFFFF; 
}

table.liste th { 
  padding:2px;
  border-style:solid; 
  border-width:1px 1px 1px 1px; 
  border-color:grey;
  /* overflow:hidden; */
}

table.liste td { 
  padding:2px; 
  border-style:solid; 
  border-width:1px 1px 1px 1px; 
  border-color:grey;
  empty-cells:show;
  white-space:nowrap;
  /* overflow:hidden; */
}

a, a:hover, a:active, a:visited {
  color:black;
  font-style:normal;
  font-weight:normal;
  text-decoration:none;
}

.text_button {
  margin-left: auto;
  margin-right: auto; 
  display: block;
  text-align: center;
  padding: 4px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-image: -moz-linear-gradient(-90deg, silver, white);
  background-image: -webkit-linear-gradient(-90deg, rgb(238, 238, 238), rgb(204, 204, 204) ); /* , lightgrey, darkgrey);		/* silver, gray */
  border: 1px solid rgb(153, 153, 153);
}
