<!DOCTYPE html>
<html>
<head>
  <title>Ordi HTML Druck</title>
  <%= stylesheet_link_tag    "print/print", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
    <%= yield %>
    
    <script>
       /* 	$(document).ready(function() {
            window.print();
          } );
       */
    </script>
</body>
</html>